body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Grotesk';

}
/* Logo */
.logo { 
    position: relative;
}
.logo img{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
}
/* Main */

.main{
    display: flex;
}
.purple{
    width: 50vw;
    background-color: #793EF5;
    height: 100vh;
}

.login-comp{
    background-color: whitesmoke;
    width: 50vw;
    height: 100vh;

}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: 500px;
}

#label{
    font-weight:600;
    
}
.form-inputs{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 5px;
    row-gap: 10px;
    
    
}

input[type='email'],input[type='text']{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 75vw;
    max-width: 270px;
    border-radius: 16px;
    outline: none;
    background: #e9e4e4;
    border: 1px solid #CECECE;
    
}

.check-forg{
    /* margin: 0 auto; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    
}
.check-forg label{
    font-size: 13px;
    color: #828282;
    
}
.check-forg label input{
    margin-right: 5px;
    
}
.check-forg p{
    color: #793EF5;
    font-size: 13px;
    font-weight: 600;

}
button[type='submit']{
    background: #793EF5;
    width: 85vw;
    max-width: 300px;
    padding: 10px 16px;
    border-radius: 16px;
    border: none;
    margin-bottom:10px ;
    color: white;
    font-weight: 600;
    border: 2px solid #793EF5;
}


@media only screen and (max-width: 700px) {
    .main{
        flex-direction: column-reverse;
    }
    .purple{
        width: 100vw;
        /* height: 30vh; */
    }
    .login-comp{
        width: 100vw;
        /* height: 70vh; */
    }
}